<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registered Users</title>
</head>
<body>
    <h2>List of Registered Users</h2>
    <table border="1">
        <tr>
            <th>ID</th><th>Username</th><th>Email</th><th>Role</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
        </tr>
    </table>
</body>
</html>
